html{
    background-color: rgb(207, 175, 175);
}
body{
    font-family: 'Young Serif', serif;
    font-weight: normal;
    width: 50%;
    display: block;
    margin: auto;
    background-color: #fff;
    border-radius: 2%;
}

.app{
    display: block;
    margin:auto;
    width: 90%;
}

#image-omelette{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 2%;
    padding-top: 20px;
}

.recipe {
    font-size: 250%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.preparation{
    margin-left: 30px;
}

.preparation-time{
    color: brown;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

ol{
    padding-left: 20px;
    list-style-type: none;
}

li{
    padding-top: 10px;
    padding-bottom: 10px;
}

ol li {
    counter-increment: my-counter;
    position: relative;
    margin-bottom: 10px;
}
  
ol li::before {
    content: counter(my-counter) ". ";
    color: brown; /* Set the color of the numbers */
    font-weight: bold;
    margin-right: 5px; /* Adjust spacing between number and text */
}

table{
    border-collapse: collapse;
    width: 100%;
}

table, th, td{
    border-bottom: 1px solid #ccc;
}

th, td{
    padding: 8px;
    text-align: left;
}

/*Media query for mobile devices */
@media only screen and (max-width : 650px){
    body{
        width: 100%;
        border-radius: 0%;
    }

    .app{
        padding-left: 10px;
        width: 100%;
        margin: auto;
    }

    #image-omelette{
        width: 100%;
        border-radius: 0%;
        padding-top: 0%;
    }
}